body {
  font-family: 'Orbitron', sans-serif;
  background-image: url('/static/images/background.jpg');
  background-size:cover;
}

h1 {
  padding-top: .5rem;
}

td {
  padding-top: 10px;
  vertical-align: top;
}

tr {
  border-top-width: 1px;
  border-top-color: black;
  border-top-style: solid;
}

.trackday {
  background-color: rgba(255,255,255,0.65);
  padding-bottom: 15px;
}

.trackday a {
  margin-right: 10px;
}

.status-label {
  font-weight: 800;
  margin-right: 10px;
  width: 40px;

}

.action-item {
  margin-right: 10px;
}

.status-item {
  margin-right: 10px;
  width: 200px;
}
.lap-number {
  font-family: 'Faster One', cursive;
  font-size: 6rem;
  line-height: 1;
  text-align: center;
}

.lap-time {
  font-family: 'Faster One', cursive;
  font-size: 2rem;
}

.lap-statistics {
  font-family: 'Faster One', cursive;
  font-size: 2rem;
}

.lap-time .lap_statistics small {
  font-size: 50%;
}

.car-image {
  max-width:50%;
}

.racer-name {
  font-size: 150%;
}

.in-pit {
  color: #66FF66;
  animation: blinker 1s linear infinite;
}

.empty {
  background-color: #666666 !important;
}

.square {
  width: 10px;
  height: 15px;
  margin-left: 2px;
  background: grey;
}

.horizontal-line {
  height: 5px;
  width: 100%;
  margin-bottom: 5px;
}

.grid-entry {
  margin: 5px;
}

#grid-entry-0 {
  background-color: #FF6666;
}

#grid-entry-1 {
  background-color: #6666FF;
}

#grid-entry-2 {
  background-color: #FFFF66;
}

#grid-entry-6 {
  background-color: #E6E6E6;
}

.startlight-box {
  background-color: rgba(255,255,255,0.45);
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.grey {
  background-color: #bbb;
}

.green {
  background-color: #0f0;
}

.red {
  background-color: #f00;
}

.fuel-0 { background-color: #FF0000;}
.fuel-1 { background-color: #FF1A00;}
.fuel-2 { background-color: #FF4D00;}
.fuel-3 { background-color: #FF6600;}
.fuel-4 { background-color: #FFB300;}
.fuel-5 { background-color: #FFCC00;}
.fuel-6 { background-color: #FFE600;}
.fuel-7 { background-color: #FFFF00;}
.fuel-8 { background-color: #E6FF00;}
.fuel-9 { background-color: #CCFF00;}
.fuel-10 { background-color: #B3FF00;}
.fuel-11 { background-color: #80FF00;}
.fuel-12 { background-color: #80FF00;}
.fuel-13 { background-color: #66FF00;}
.fuel-14 { background-color: #33FF00;}
.fuel-15 { background-color: #00FF00;}

.photo-attribution-text {
  text-align: right;
  font-size: 0.5rem;
}


@keyframes blinker {
  50% { opacity: 0; }
}