{% extends "base.html" %}
{% block app_content %}

  <h1>Aktuelles Rennen</h1>

  <div class="d-flex flex-row-reverse mb1 status">
    <div class="p2 d-flex flex-row status_item">
      <p class="p2 status-label">CU:</p>
      <p class="p2 status-value" id="control_unit_status">nicht verbunden</p>
    </div>
  </div>

  {% if current_race and current_race.parsed_grid()%}
    <div class="d-flex flex-row justify-content-center  mb-3 bd-highlight ">
      {% for grid_entry in current_race.parsed_grid()%}
      <div class= "p-2 flex-fill grid-entry" id = "grid-entry-{{ grid_entry['controller'] }}">
        <div class= "racer-name">{{ grid_entry['racer'].name }} ({{ grid_entry['car'].name }})</div>
        <div id = "gas-pump-{{ grid_entry['controller'] }}" class = "d-flex flex-row">
          <i class="fa fa-gas-pump p-2"></i>
          {% for i in range(0,16) %}
            <div class = "square fuel-{{i}}" id="fuel-level-{{grid_entry['controller']}}-{{i}}"> </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/control_unit_events', {
    upgrade: false,
    transports: ['websocket']});
    socket.on('connect', function() {
        socket.emit('control_unit_events', {data: 'I\'m connected!'});
    });
    socket.on('status', function(msg) {
      console.log("CU status: " + msg);
      $("#control_unit_status").text(msg)
    });
  </script>

  <script type="text/javascript" charset="utf-8">
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/pit_events', {
    upgrade: false,
    transports: ['websocket']});
    socket.on('connect', function() {
        socket.emit('pit_events', {data: 'I\'m connected!'});
    });
    socket.on('pit_status', function(msg) {
      console.log("Pit status: " + msg);
      pit_status = JSON.parse(msg);
      pit_status.forEach(function(in_pit, index) {
        selector = $("#gas-pump-" + index)
        if (selector.length > 0) {
          if(in_pit == 'TRUE') {
            selector.addClass('in-pit')
          } else {
            selector.removeClass('in-pit')
          }
        }
      });
    });
  </script>

  <script type="text/javascript" charset="utf-8">
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/fuel_events', {
    upgrade: false,
    transports: ['websocket']});
    socket.on('connect', function() {
        socket.emit('fuel_events', {data: 'I\'m connected!'});
    });
    socket.on('fuel_levels', function(msg) {
      console.log("Fuel Levels: " + msg);
      fuel_levels = JSON.parse(msg);
      fuel_levels.forEach(function(fuel_level, index) {
        for(var i=0; i < 16; i++){
          selector = $("#fuel-level-" + index + "-" + i)
          if(selector.length > 0) {
            if(i <= fuel_level) {
              selector.removeClass('empty')
            } else {
              selector.addClass('empty')
            }
          }
        }
      });
    });
  </script>
{% endblock %}