{% extends "base.html" %}
{% block app_content %}

  <h1>{{ _('Current race') }}</h1>

  <div class="d-flex flex-row-reverse mb1 status">

    <div class="p2 flex-fill">
      <div class="p2 d-flex flex-row status-item">
        <p class="p2 status-label">{{ _('CU') }}:</p>
        <div class = "circle grey" id="cu-status"> </div>
      </div>
      <div class = "p2 d-flex flex-row status-item startlight-box">
        <p class="p2 status-label">{{ _('Start') }}:</p>
        {% for i in range(0,5) %}
          <div class = "circle grey" id="startlight-{{i}}"> </div>
        {% endfor %}
      </div>
    </div>

    {% if current_race%}
    <div class="p2 d-flex flex-row action-item">
      <a href="{{ url_for('race_stop', race_id=current_race.id) }}">{{ _('Cancel race') }}</a>
    </div>
    {% else %}
    <div class="p2 d-flex flex-row action-item">
      <a href="{{ url_for('race_registration') }}">{{ _('Start a new race') }}</a>
    </div>
    {% endif %}
  </div>

  {% if current_race and current_race.parsed_grid()%}
    <p> {{ _('Status of current race: ')}}{{ current_race.status}} </p>
    <div class="d-flex flex-row justify-content-center  mb-3 bd-highlight ">
      {% for grid_entry in current_race.parsed_grid()%}
      <div class= "p-2 flex-fill grid-entry">
        <div class="horizontal-line" id="grid-entry-{{grid_entry['controller']}}">
        </div>
        <div class= "racer-and-car">
          <p class= "racer-name">{{ grid_entry['racer'].name }}</p>
          <p class= "car-name">({{ grid_entry['car'].name }})</p>
        </div>
        <div id = "gas-pump-{{ grid_entry['controller'] }}" class = "d-flex flex-row">
          <i class="fa fa-gas-pump p-2"></i>
          {% for i in range(0,16) %}
            <div class = "square fuel-{{i}}" id="fuel-level-{{grid_entry['controller']}}-{{i}}"> </div>
          {% endfor %}
        </div>
        <div class = "d-flex flex-row lap-data">
          <div class="p-2 flex-fill">
            <p>{{ _('Laps') }}:</p>
            <p class="lap-number" id = "lap-number-{{ grid_entry['controller'] }}">0</p>
          </div>
          <div class="p-2 flex-fill">
            <p>{{ _('Last lap') }}:</p>
            <p class="lap-time" id = "lap-time-{{ grid_entry['controller'] }}">0 s</p>
            <p>{{ _('Best lap') }}:</p>
            <p class="lap-time" id = "best-time-{{ grid_entry['controller'] }}">0 s</p>
          </div>
        </div>
        <div class="horizontal-line" id="grid-entry-{{grid_entry['controller']}}">
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='control_unit_events.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='startlight_events.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='pit_events.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static', filename='pit_events.js')}}"></script>
{% endblock %}