{% extends "base.html" %}
{% block app_content %}

  <h1>{{ _('Registered racers') }}</h1>

  <a href="{{ url_for('racer_registration') }}">{{ _('Register a new racer') }}</a>

  {% for racer in racers %}
  <div class = "racer">
    <div class = "racer-data">
      <ul>
        <li>
          <h2> {{ racer.name }} </h2>
          <h3>{{ _('Fastest Laps') }}</h3>
          <table width = "80%">
            <tr>
              <th>{{ _('Time') }}</th>
              <th>{{ _('Racer') }}</th>
            </tr>
            {% for lap in racer.fastest_laps() %}
              <tr>
                <td>{{ lap.formatted_time() }}</td>
                <td>{{ lap.car().name }}</td>
              </tr>
            {% endfor %}
          </table>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}

{% endblock %}