{% extends "base.html" %}
{% block app_content %}

  <h1>{{ _('Previous races') }}</h1>

  <a href="{{ url_for('race_registration') }}">{{ _('Start a new race') }}</a>

  <table width = "80%">
    <tr>
      <th>{{ _('ID') }}</th>
      <th>{{ _('Created at') }}</th>
      <th>{{ _('Type') }}</th>
      <th>{{ _('Duration') }}</th>
      <th>{{ _('State') }}</th>
      <th>{{ _('Grid') }}</th>
    </tr>
    {% for race in races %}
    <tr>
      <td>{{ race.id }}</td>
      <td><a href="{{ url_for('race', race_id=race.id) }}">{{ race.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</a></td>
      <td>{{ race.type }}</td>
      <td>{{ race.duration }}</td>
      <td>{{ race.status }}</td>
      <td>
        {% if race.parsed_grid() %}
          {% for grid_entry in race.parsed_grid() %}
            {{ grid_entry['controller'] }}. {{ grid_entry['racer'].name }} ({{ grid_entry['car'].name }})<br/>
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>


{% endblock %}