{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('New race') }}</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <h2>{{ _('Settings') }}</h2>
        {{ form.status }}
        <p>
            {{ form.type.label }}<br>
            {{ form.type }}
            {% for error in form.type.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.duration.label }}<br>
            {{ form.duration }}
            {% for error in form.duration.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <h2>{{ _('Grid') }}</h2>
        {% for error in form.grid.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <div id = "grid">
            <p>
                {% for grid_entry in form.grid %}
                    {% for field in grid_entry %}
                        {{ field() }}
                    {% endfor %}
                {% endfor %}
            </p>
        </div>
        <button class="add_grid_entry">{{ _('Add racer') }}</button>
        <button class="remove_grid_entry">{{ _('Remove last racer') }}</button>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}


{% block scripts %}
    {{super()}}
    <script>
        $(document).ready(function() {
            var max_racers = 4; //maximum input boxes allowed
            var grid_subform = $("#grid"); //Fields wrapper
            var addButton = $(".add_grid_entry"); //Add button class
            var removeButton = $(".remove_grid_entry"); //remove button ID
            var racer_counter = 1;
            $(addButton).click(function(e){ //on add input button click
                e.preventDefault();
                if(racer_counter < max_racers){ //max input box allowed
                    racer_counter++;
                    $("#grid").append(duplicate_grid_entry());
                }
                else { window.alert(_('Cannot add more racers'))}
            });
            $(removeButton).click(function(e){ //on remove input button click
                e.preventDefault();
                if(racer_counter > 1){ //make sure at least one field is there
                    $('#grid_'+racer_counter).remove();
                    racer_counter--;}
                else { window.alert(_('At least one racer must stay in the grid'))}
            });
            function duplicate_grid_entry() {
                var first_grid_entry = $("#grid p").first().html();
                return "<p id = \"grid_" + racer_counter + "\">" + first_grid_entry.replace(/rid-0/g, "rid-" + racer_counter) + "</p>";
            };
        });
    </script>
{% endblock %}