{% extends "base.html" %}
{% block app_content %}

  <h1>{{ _('Previous races') }}</h1>

  <a href="{{ url_for('race_registration') }}">{{ _('Start a new race') }}</a>

  <table width = "80%">
    <tr>
      <th>{{ _('ID') }}</th>
      <th>{{ _('Created at') }}</th>
      <th>{{ _('Grid') }}</th>
    </tr>
    {% for race in races %}
    <tr>
      <td>{{ race.id }}</td>
      <td><a href="{{ url_for('race', race_id=race.id) }}">{{ race.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</a></td>
      <td>
        {% if race.parsed_grid() %}
          {% for grid_entry in race.parsed_grid() %}
            {{ grid_entry['racer'].name }} (<a href="{{ url_for('car', car_id=grid_entry['car'].id) }}">{{ grid_entry['car'].name }}</a>) - {{ race.lap_count_by_controller(grid_entry['controller'])}} Laps<br/>
          {% endfor %}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>


{% endblock %}