{% extends "base.html" %}
{% block app_content %}

  <h1>{{ _('Registered racers') }}</h1>

  <a href="{{ url_for('racer_registration') }}">{{ _('Register a new racer') }}</a>

  {% for racer in racers %}
  <div class = "racer">
    <div class = "racer-data">
      <ul>
        <li>
          <h2> {{ racer.name }} </h2>
          <h3>{{ _('Fastest Laps') }}</h3>

          <div id="lab_table" class="lab_container">
            <ul  class="nav nav-pills">
              <li class="active"><a  href="#{{racer.id}}-overall" data-toggle="tab">{{ _('overall') }}</a></li>
              <li><a href="#{{racer.id}}-current_season" data-toggle="tab">{{ _('current season') }}</a></li>
              <li><a href="#{{racer.id}}-last_season" data-toggle="tab">{{ _('last season') }}</a></li>
            </ul>
          <div class="tab-content clearfix">
            <div class="tab-pane active" id="{{racer.id}}-overall">
              <table width = "80%">
                <tr>
                  <th>{{ _('Time') }}</th>
                  <th>{{ _('Car') }}</th>
                </tr>
                {% for lap in racer.fastest_laps() %}
                  <tr>
                    <td>{{ lap.formatted_time() }}</td>
                    <td>{{ lap.car().name }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            <div class="tab-pane" id="{{racer.id}}-current_season">
              <table width = "80%">
                <tr>
                  <th>{{ _('Time') }}</th>
                  <th>{{ _('Car') }}</th>
                </tr>
                {% for lap in racer.fastest_laps(season=current_season) %}
                  <tr>
                    <td>{{ lap.formatted_time() }}</td>
                    <td>{{ lap.car().name }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
            <div class="tab-pane" id="{{racer.id}}-last_season">
              <table width = "80%">
                <tr>
                  <th>{{ _('Time') }}</th>
                  <th>{{ _('Car') }}</th>
                </tr>
                {% for lap in racer.fastest_laps(season=last_season) %}
                  <tr>
                    <td>{{ lap.formatted_time() }}</td>
                    <td>{{ lap.car().name }}</td>
                  </tr>
                {% endfor %}
              </table>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}

{% endblock %}