{% extends "base.html" %}
{% block app_content %}

  <a href="{{ url_for('edit_season', season_id=season.id) }}">{{ _('Edit this season') }}</a>


  <h1>{{ _('Season') }} {{season.started_at.strftime('%d.%m.%Y')}} - {% if season.ended_at != None %}{{ season.ended_at.strftime('%d.%m.%Y') }}{% endif %}</h1>

  <p>{{ season.description }}</p>
  <p>
    {{ _('Controller Colors')}}<br />
    <div>
      <div style= "display: flex;">
        <div class= "controller_color_number"> 1: </div>
        <div class="controller_color_field", style="background-color: #{{season.controller_0_color}};" />
      </div>
      <div style= "display: flex;">
        <div class= "controller_color_number"> 2: </div>
        <div class="controller_color_field", style="background-color: #{{season.controller_1_color}};" />
      </div>
      <div style= "display: flex;">
        <div class= "controller_color_number"> 3: </div>
        <div class="controller_color_field", style="background-color: #{{season.controller_2_color}};" />
      </div>
      <div style= "display: flex;">
        <div class= "controller_color_number"> 4: </div>
        <div class="controller_color_field", style="background-color: #{{season.controller_3_color}};" />
      </div>
    </div>
  </p>


{% endblock %}
