{% extends "base.html" %}
{% block app_content %}

  <h1>{{ _('Seasons') }}</h1>

  <a href="{{ url_for('new_season') }}">{{ _('Create a new season') }}</a>

  {% if seasons %}
    <div class = "season">
      <div class = "season-data">
        <ul>
          {% for season in seasons %}
            <li>
              <a href="{{ url_for('season', season_id=season.id) }}">
                {{ season.started_at.strftime('%d.%m.%Y') }} - {% if season.ended_at != None %}{{ season.ended_at.strftime('%d.%m.%Y') }}{% endif %}
              </a>:
              <p>{{ season.description }}</p>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

{% endblock %}