{% extends "base.html" %}
{% block content %}

  <h1>Strecken Informationen</h1>

  {% if track_state %}
    <div>
      {% for racer_number in active_racers %}
      <div id = "racer_{{ racer_number }}">
        <div> Fahrernummer: {{ racer_number }}
        <div id = "fuel_{{ racer_number }}">Tankinhalt: {{ track_state.fuel_array()[racer_number] }}</div>
        <div id = "in_pit_{{ racer_number }}">Gerade in Boxengasse: {{ track_state.pit_array()[racer_number] }}</div>
      </div>
      {% endfor %}
    </div>
  {% endif %}

  <a href="#">Aktualisieren</a>
{% endblock %}